_To note: the year 2013 only goes up to September_  

    - US
    - China
    - Australia
    - Brazil
    - UK
    - South Africa  
    - Costa Rica
    - Egypt
    - Algeria
    - Iceland
    - Ukraine
    - Argentina
    - Namibia
    - Finland
    - Germany
    - Japan
    
(I tried to cover a wide geographic range)
    
- Find change in temp from past to present
    - Past: take average of the decade 1861-71 (earliest point when all these sixteen countries don't have gaps in data)
    - take average of the decade 2003-2013
- Insert a new row into the csv for average yearly temp for a country

In [20]:
import pandas as pd
data = pd.read_csv("GlobalLandTemperaturesByCountry.csv")
dictionary = {}

newlist=[]
x = len(data.index)

for x in range(0, x):
    if data["Country"][x] == "United States":
        newlist.append(data.loc[x])
    if data["Country"][x] == "China":
        newlist.append(data.loc[x])
    if data["Country"][x] == "Australia":
        newlist.append(data.loc[x])
    if data["Country"][x] == "Brazil":
        newlist.append(data.loc[x])
    if data["Country"][x] == "United Kingdom (Europe)":
        newlist.append(data.loc[x])
    if data["Country"][x] == "South Africa":
        newlist.append(data.loc[x])
    if data["Country"][x] == "Costa Rica":
        newlist.append(data.loc[x])
    if data["Country"][x] == "Egypt":
        newlist.append(data.loc[x])
    if data["Country"][x] == "Algeria":
        newlist.append(data.loc[x])
    if data["Country"][x] == "Iceland":
        newlist.append(data.loc[x])
    if data["Country"][x] == "Ukraine":
        newlist.append(data.loc[x])
    if data["Country"][x] == "Argentina":
        newlist.append(data.loc[x])
    if data["Country"][x] == "Namibia":
        newlist.append(data.loc[x])
    if data["Country"][x] == "Finland":
        newlist.append(data.loc[x])
    if data["Country"][x] == "Germany":
        newlist.append(data.loc[x])
    if data["Country"][x] == "Japan":
        newlist.append(data.loc[x])
continents = pd.DataFrame(newlist)
continents.reset_index(drop=True, inplace=True)

continents.head()

           dt  AverageTemperature  AverageTemperatureUncertainty  Country
0  1787-01-01              13.322                          2.975  Algeria
1  1787-02-01              14.839                          2.307  Algeria
2  1787-03-01              18.841                          2.922  Algeria
3  1787-04-01              22.061                          2.283  Algeria
4  1787-05-01              27.104                          3.774  Algeria

In [21]:
year = 1861
country_list = []
temp_list = []
the_sum = 0

# Past: 1861-1871
for y in range(0, len(continents)):
    if (int(continents["dt"][y][0:4]) == year) and year<=1871:
        if year == 1871:
            for x in range(0,12):
                the_sum += float(continents["AverageTemperature"][x+y])
            # 132 values went into the sum- 11 years, 12 months per year
            ten_yr_avg = the_sum / 132
            country_list.append(continents["Country"][y])
            temp_list.append(ten_yr_avg)
            the_sum=0
            year = 1861
        else:
            for x in range(0,12):
                the_sum += float(continents["AverageTemperature"][x+y])
            year+=1
print(country_list,temp_list)

['Algeria', 'Argentina', 'Australia', 'Brazil', 'China', 'Costa Rica', 'Egypt', 'Finland', 'Germany', 'Iceland', 'Japan', 'Namibia', 'South Africa', 'Ukraine', 'United Kingdom (Europe)', 'United States'] [22.79742424242425, 14.135378787878786, 21.349272727272727, 24.341030303030294, 6.216803030303033, 25.182227272727275, 22.38356818181819, 0.4936969696969694, 7.96719696969697, 1.005280303030303, 11.504136363636363, 20.085454545454553, 16.89050000000001, 7.176303030303031, 8.631537878787887, 8.462340909090909]

In [22]:
# Present: 2003-2013
year = 2003
the_sum = 0
index = 0

for y in range(0, len(continents)):
    if (int(continents["dt"][y][0:4]) == year) and year<2013:
        for x in range(0,12):
                the_sum += float(continents["AverageTemperature"][x+y])
        year+=1
    elif year == 2013:
            for x in range(0,9):
                the_sum += float(continents["AverageTemperature"][x+y])
            # 132 values went into the sum- 11 years, 12 months per year (with the exception of 2013, with 8 months)
            ten_yr_avg = the_sum / 129
            print(str(ten_yr_avg) + '-' + str(temp_list[index]))
            # Difference between past average and present average
            temp_list[index] = ten_yr_avg - temp_list[index]
            print(temp_list[index])
            the_sum=0
            index+=1
            year = 2003
            
print(country_list,temp_list)

24.411147286821706-22.79742424242425
1.6137230443974566
15.231821705426361-14.135378787878786
1.0964429175475754
22.162596899224813-21.349272727272727
0.8133241719520861
25.603736434108523-24.341030303030294
1.2627061310782288
7.864488372093024-6.216803030303033
1.647685341789991
26.375124031007754-25.182227272727275
1.1928967582804795
23.925263565891466-22.38356818181819
1.5416953840732752
2.8189069767441852-0.4936969696969694
2.325210007047216
9.486643410852714-7.96719696969697
1.5194464411557442
2.6886666666666654-1.005280303030303
1.6833863636363624
13.053697674418604-11.504136363636363
1.5495613107822415
21.00731007751938-20.085454545454553
0.9218555320648285
17.849240310077526-16.89050000000001
0.9587403100775163
9.354751937984497-7.176303030303031
2.1784489076814664
9.725372093023259-8.631537878787887
1.0938342142353719
9.93581395348837-8.462340909090909
1.473473044397462
['Algeria', 'Argentina', 'Australia', 'Brazil', 'China', 'Costa Rica', 'Egypt', 'Finland', 'Germany', 'Iceland', 'Japan', 'Namibia', 'South Africa', 'Ukraine', 'United Kingdom (Europe)', 'United States'] [1.6137230443974566, 1.0964429175475754, 0.8133241719520861, 1.2627061310782288, 1.647685341789991, 1.1928967582804795, 1.5416953840732752, 2.325210007047216, 1.5194464411557442, 1.6833863636363624, 1.5495613107822415, 0.9218555320648285, 0.9587403100775163, 2.1784489076814664, 1.0938342142353719, 1.473473044397462]

In [23]:
dictionary['Country'] = country_list
dictionary['Temperature_Change'] = temp_list
print(dictionary)
final = pd.DataFrame.from_dict(dictionary)

{'Country': ['Algeria', 'Argentina', 'Australia', 'Brazil', 'China', 'Costa Rica', 'Egypt', 'Finland', 'Germany', 'Iceland', 'Japan', 'Namibia', 'South Africa', 'Ukraine', 'United Kingdom (Europe)', 'United States'], 'Temperature_Change': [1.6137230443974566, 1.0964429175475754, 0.8133241719520861, 1.2627061310782288, 1.647685341789991, 1.1928967582804795, 1.5416953840732752, 2.325210007047216, 1.5194464411557442, 1.6833863636363624, 1.5495613107822415, 0.9218555320648285, 0.9587403100775163, 2.1784489076814664, 1.0938342142353719, 1.473473044397462]}

In [24]:
final = final.sort_values(by=['Temperature_Change'])

In [25]:
final.to_csv('continents.csv', header='true')